<% flash.each do |name, msg| -%>
	<%= content_tag :div, msg, class: "alert alert-info text-center" %>
<% end -%>
<% if !@user %>
	<h2>Welcome!</h2>
	<p>If you're new here, Sign Up at the link above and then download the latest version of our Java Applet.</p>
<% else %>
	<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h2>Welcome, <%= @user.firstname =%>!</h2>
				<h3 style="color:#d43f3a">This swarm is named <%= @swarm.name =%>.</h3>
				<p>Please rate the visual appeal of this behavior, <%= @swarm.name =%>.</p>
				<script src="http://www.java.com/js/deployJava.js"></script>
				<script>
	  			var attributes = { 
            code: 'MusicSwarm.class',
            archive: 'MusicSwarm.jar,core.jar,javax.json-1.0.jar',
            width: 400, 
            height: 400,
          };
          var parameters = { 
            image: 'loading.gif',
            centerimage: 'true',
						behavior: "<%= @swarm.to_json.gsub(\"\"\", \"'\") =%>",
          };
          var version = '1.5';
          deployJava.runApplet(attributes, parameters, version);
  			</script>

				<%= form_for @swarm, url: {:action => "update", :controller => "swarm_behaviors", :id => @swarm.id}, html: {:class => "form-inline", :method => "patch"} do |f| %>
					<div class="form-group">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary">
								<%= f.radio_button(:rating, 1) %> (Worst) 1
							</label>
							<label class="btn btn-primary">
								<%= f.radio_button(:rating, 2) %> 2
							</label>
							<label class="btn btn-primary">
								<%= f.radio_button(:rating, 3) %> 3
							</label>
							<label class="btn btn-primary">
								<%= f.radio_button(:rating, 4) %> 4
							</label>
							<label class="btn btn-primary">
								<%= f.radio_button(:rating, 5) %> 5
							</label>
							<br class="visible-xs">
							<label class="btn btn-primary">
								<%= f.radio_button(:rating, 6) %> 6
							</label>
							<label class="btn btn-primary">
								<%= f.radio_button(:rating, 7) %> 7
							</label>
							<label class="btn btn-primary">
								<%= f.radio_button(:rating, 8) %> 8
							</label>
							<label class="btn btn-primary">
								<%= f.radio_button(:rating, 9) %> 9
							</label>
							<label class="btn btn-primary">
								<%= f.radio_button(:rating, 10) %> 10 (Best)
							</label>
						</div>
					</div><br><br class="hidden-xs">
					<%= f.submit "Submit Rating", { :class => "btn btn-danger" } %>
				<% end %>
			</div>
	</div>
<% end %>